/* ==========================================================================
   Box Sizing
   ========================================================================== */
*, *:before, *:after {
    box-sizing: border-box;
}



/* ==========================================================================
   HTML
   ========================================================================== */

html {
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
    font-family: -apple-system, "Segoe UI", Helvetica, sans-serif;
    font-size: 12px;
}

html.print {
    background-color: #fff;
}



/* ==========================================================================
   BODY
   ========================================================================== */

body {
    margin: 0;
    padding: 0;
}



/* ==========================================================================
   HEADER
   ========================================================================== */

header {
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background-color: #005cbd;
    height: 56px;
}

.print header {
    display: none;
}



/* ==========================================================================
   HEADER BUTTON
   ========================================================================== */

header button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    color: #fff;
    border-radius: 50%;
    transition: background-color .12s;
}

header button:hover {
    background-color: rgba(0, 0, 0, .2);
}

header button svg {
    width: 20px;
    height: 20px;
}



/* ==========================================================================
   Main
   ========================================================================== */

main {
    background-color: #fff;
    width: 660px;
    min-height: 1000px;
    margin: 32px auto;
    padding: 64px;
    border-radius: 2px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, .4);
}

.print main {
    width: unset;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
}



/* ==========================================================================
   H1
   ========================================================================== */

h1 {
    text-align: center;
    margin: 0 0 32px;
}



/* ==========================================================================
   H3
   ========================================================================== */

h3 {
    margin-bottom: 0;
    margin: 16px 0 2px;
    font-size: 13px;
}



/* ==========================================================================
   Table
   ========================================================================== */

table {
    table-layout: fixed;
    width: 100%;
}

td {
    vertical-align: top;
    padding: 0;
}



/* ==========================================================================
   P
   ========================================================================== */

p {
    margin: 0;
}
